$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "compass";

// Core variables and mixins
@import "sass-bootstrap/lib/variables";
@import "sass-bootstrap/lib/mixins";

// Reset
@import "sass-bootstrap/lib/normalize";
@import "sass-bootstrap/lib/print";

// Core CSS
@import "sass-bootstrap/lib/scaffolding";
@import "sass-bootstrap/lib/grid";

// Components
@import "sass-bootstrap/lib/input-groups";

// Utility classes
@import "sass-bootstrap/lib/utilities";
@import "sass-bootstrap/lib/responsive-utilities";

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


// Fonts
@include font-face('Decor', font-files('Decor.ttf'));

$font-script: 'Decor', serif;
$font-sans: 'PT Sans', sans-serif;

$color-red-dark: #cb3c36;
$color-turq: #61a9a5;
$color-brown-dark: #3f1c06;
$color-white: #fff;




// Base
html {
  -webkit-font-smoothing: antialiased;
}

/* Space out content a bit */
body {
  background-image: url('/images/sweater.png');
}

html, body {
  height: 100%;
}

div.body-wrapper {
  min-height: 100%;
  height: 100%;
}

ul {
  margin: 0;
}

// Layout
.content {
  display: table;
  width: 100%;
  min-height: 100%;
  height: 100%;
  // padding-bottom: $size-footer-height;
  position: relative;
  overflow: auto;
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  // margin-bottom: $size-footer-height;
}

.main {
  min-height: 100%;

  @media screen and (min-width: 768px) {
    margin-left: 41.66667%;
  }

  @media screen and (min-width: 992px) {
    margin-left: 33.333333%;
  }
}

// End Layout

// Modules
.card {
  max-width: 900px;
  width: 90%;

  outline: 2px dashed $color-turq;
  outline-offset: -10px;

  padding: 20px;

  h1 {
    font-size: 3em;
    margin: 0;
    font-family: $font-script;
    text-align: center;
  }
}

.btn, .inp {
  border: 1px solid #3f1c06;
  padding: 0.5em;
  font-family: $font-sans;
  color: $color-brown-dark;
}

.form-call-to-action {
  max-width: 700px;
  margin: auto;
  margin-top: 10px;
}

.form-facebook-login {
  margin-top: 10px;

  .fb-login-button {
    width: 327px;
    margin: auto;
    display: block;
  }
}

.sidebar {
  height: 100%;
}

.content { }

// End Modules

// Themes
.card-red {
  background-color: $color-red-dark;
  color: $color-white;
}

.card-shadow {
  @include single-box-shadow();
}

.card-dm {
  position: relative;
  padding-top: 50px;
  padding-bottom: 40px;
}

.card-dm:before {
  position: absolute;
  content: ' ';
  background: url('/images/dm.png') no-repeat center center;
  height: 150px;

  top: -100px;
  left: 0;
  right: 0;
}

.btn-large, .inp-large {
  font-size: 1.5em;
}


.btn-turq {
  background-color: $color-turq;
}

.menu {
  background-color: $color-red-dark;
  @include single-box-shadow();
  text-align: center;

  font-family: $font-script;
  font-size: 3.2em;

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {
    border-bottom: 1px solid transparent;
    margin-bottom: 10px;
  }

  a {
    color: $color-white;
  }

  a:hover {
    text-decoration: none;
  }

  li:hover, li.current {
    border-bottom: 1px solid $color-white;
  }

  a.current {

  }
}

.menu-pic {
  display: block;
  height: 200px;
  width: 200px;

  margin: 20px auto;
}

// End Themes


// State
.btn:active:focus, .btn:active {
  @include single-box-shadow($inset: true);
}

.btn:hover {
  @include single-box-shadow();
  border: 1px solid $color-brown-dark;
}

.v-center {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
}

.h-center {
  margin: auto;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: $screen-sm-min) {
}

/* Responsive: Mobile phones and down */
@media screen and (max-width: $screen-xs) {
  .input-group {
    width: 100%;
    display: block;

    .form-control, .btn {
      display: block;
      width: 100%;
    }

    .input-group-btn:last-child > .btn {
      margin-left: 0;
      margin-top: 10px;
    }
  }
}
