<div class="content">
  <div class="col-sm-5 col-md-4 col-lg-3 menu hidden-xs">
    <h1>{{user.name || '&nbsp;'}}</h1>

    <ul class="">
      <li><a ng-href="#/me">Моё Письмо</a></li>
      <li class="current"><a ng-href="#/friends">Друзья</a></li>
    </ul>

    <div class="menu-pic-container">
      <img class="menu-pic"
        ng-src="/images/{{ getImage() }}.png"></img>
    </div>
  </div>

  <div class="col-sm-7 col-md-8 col-lg-9 main">
    <!--div class="card card-default card-center no-outline"
      ng-show="!friends.length && !isLoading()" >
      <h1>Ваши друзья не добавили ни одного подарка!</h1>
      <p>Поделитесь новогодним настроением, пригласите друзей написать
      письмо старине Морозу!</p>

      <a class="btn btn-block btn-red action-form v-margin"
        href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fparse.com"
        target="_blank">пригласить друзей</a>
    </div-->


    <!-- TODO: ng-repeat="friend in friends" -->
    <div ng-repeat="friend in friends"
      class="card card-default btm-margin-large">

      <div class="row">
        <div class="col-xs-10">
          <h1>Дорогой Дедушка Мороз!</h1>
        </div>
        <div class="col-xs-2">
          <img
            class="card-pic pull-right"
            ng-src="//graph.facebook.com/{{friend.username}}/picture"
            alt="Фото ребёнка" />
        </div>
      </div>

      <p>
        В этом году я вел себя хорошо. Вот что ты мне за это
        должен:
      </p>

      <ul class="wish-list btm-margin">
        <li ng-repeat="wish in friend.wishlist">
          {{ wish.descr }}

          <p class="help help-xsmall" ng-show="!wish.givers.length">
            никто не дарит
          </p>

          <p class="help help-xsmall" ng-show="wish.givers.length > 0">
            <!--span ng-show="wish.givers.length == 1">дарит</span>
            <span ng-show="wish.givers.length > 1">дарят</span-->

            <a class="no-decor" title="{{giver.name}}"
              ng-repeat="giver in wish.givers"
              ng-href="//facebook.com/{{giver.username}}"
              target="_blank">
              <img class="small-pic" alt="{{ giver.name }}"
                ng-src="//graph.facebook.com/{{giver.username}}/picture"
                />
            </a>

            <!--span ng-show="isGiver(wish) && wish.givers.length == 1">
              этот подарок с меня
            </span>

            <span ng-show="isGiver(wish) && wish.givers.length > 1">
              мы с друзьями поможем Деду Морозу с этим
            </span-->
          </p>


          <p class="help help-xsmall" ng-hide="isGiver(wish)">
            <a href="javascript:void(0)"
              ng-click="wantToGive(wish, friend)">
              хочу подарить
            </a>
          </p>

          <p class="help help-xsmall" ng-show="isGiver(wish)">
            <a href="javascript:void(0)"
              ng-click="dontWantToGive(wish, friend)">
              не хочу дарить
            </a>
          </p>

        </li>
      </ul>

      <div class="row">
        <div class="col-xs-12">
          <h2 class="sign pull-right">С наступающим!</h2>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <a href="//facebook.com/{{ friend.username }}" target="_blank">
            <h2 class="sign pull-right">{{ friend.name || '&nbsp;'}}</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
