<div class="v-center">
  <div class="h-center card card-red card-dm btm-margin-large">
    <h1>Ну что ж, будь по-твоему&hellip;</h1>

    <p ng-show="showError">
      Хмм.. войти не получилось, попробуй позже.
    </p>

    <form ng-hide="showError" class="form-facebook-login">
      <button class="btn btn-large btn-fb" ng-click="login()" >
        Войти через Фейсбух!
      </button>
      <!--div class="fb-login-button"
        data-size="xlarge"
        data-width="327"
        data-max-rows="1"
        data-show-faces="true"
        data-scope="email"-->

      </div>
    </form>


  </div>
</div>

