<div class="v-center">
  <div class="h-center card card-red card-shadow card-dm">
    <h1>Какой подарок ты хочешь получить</h1>
    <h1>на Новый Год?</h1>

    <form class="form-call-to-action" ng-submit="saveAndContinue($event)">
      <div class="input-group">
        <input type="text" class="inp inp-large form-control"
          placeholder="ссылка или описание">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-large btn-turq"
            type="button">отправить</button>
        </span>
      </div>
    </form>

  </div>
</div>
